<h1>You're using Seat_Yourself</h1>

<div id="container">
  <% if current_user %>
    Logged in as <%= current_user.email %>
    <%= link_to "Log out", logout_path %>
  <% else %>
    <%= link_to "Sign up", signup_path %> or
    <%= link_to "log in", login_path %>.
  <% end %>
</div>

<table>

  <tr>
    <th>Restaurant</th>
    <th>Category</th>
    <th>Address</th>
    <th>Neighborhood</th>
    <th>Price Range</th>
  </tr>

<% @restaurant.each do |r| %>
  <tr>
    <td><%= link_to "#{r.name}", "/restaurants/#{r.id}" %></td>
    <td><%= r.category_id %></td>
    <td><%= r.address %></td>
    <td><%= r.neighborhood %></td>
    <td><%= r.pricerange %></td>
  </tr>

<% end %>

</table>

<br><%= link_to "New Restaurant", "/restaurants/new" %>
<br><%= link_to "New User", "/users/new" %>
<br><%= link_to "New Category", "/categories/new" %>