<div class="center hero-unit">

<h1>You're using Seat_Yourself</h1>

<h2>Book a table at your favourite restaurant</h2>

<table class="table table-striped">

  <tr>
    <th>Restaurant</th>
    <th>Category</th>
    <th>Address</th>
    <th>Neighborhood</th>
    <th>Price Range</th>
  </tr>

<% @restaurant.each do |r| %>
  <tr>
    <td><%= link_to "#{r.name}", "/restaurants/#{r.id}" %></td>
    <td><%= r.category.name %></td>
    <td><%= r.address %></td>
    <td><%= r.neighborhood %></td>
    <td><%= r.pricerange %></td>
  </tr>

<% end %>

</table>

</div>