<div class="center hero-unit">

<img src="<%= @restaurant[:image] %>" alt="Restaurant Image" class="img-circle" height="140" width="140" >

<h1><%= @restaurant[:name] %></h1>

</div>

<address>
  <strong><%= @restaurant[:name] %></strong><br>
  <%= @restaurant[:address] %><br><br>
  Neighborhood: <%= @restaurant[:neighborhood] %><br>
  Price Range: <%= @restaurant[:pricerange] %><br>
  Category: <%= @restaurant.category.name %><br>
  Peak Capacity: <%= @restaurant[:capacity] %><br>
</address>

<button class="btn btn-mini">
  <%= link_to "Edit", "/restaurants/#{params[:id]}/edit" %>
</button>

<h3>Make a Reservation <span class="label label-default">New</span></h3>

<%= form_for [@restaurant, @reservation] do |f| %>
    <%= render 'shared/form_errors', :thing => @reservation %>
    <div class="field">
      <%= f.label :start_time, 'When?' %>
      <%= f.select :start_time, @restaurant.time_slots.map{|dt| [nice_datetime(dt), dt] } %>
    </div>
    <div class="field">
      <%= f.label :people %>
      <%= f.number_field :people, :value => 1, :min => 1 %>
    </div>

    <%= f.submit %>

<% end %>

<h3>Reviews</h3>
  
  <ul>
  <% @restaurant.reviews.each do |r| %>
    <li><%= r.comment %> </li>
  <% end %>
</ul>

<h3>Review a Restaurant <span class="label label-default">New</span></h3>

<%= form_for [@restaurant, @review] do |f| %>

    <%= render 'shared/form_errors', :thing => @review %>

    <div class="field">
      <%= f.label :comment %>
      <%= f.text_field :comment %>
    </div>

    <%= f.hidden_field :restaurant_id, value: @restaurant.id %>
    <%= f.hidden_field :user_id, value: current_user.id %>

      <%= f.submit %>

<% end %>


