<h1><%= @restaurant[:name] %></h1>

<table>
  <tr>
      <td><%= @restaurant[:address] %></td>
  </tr>
      <td><%= @restaurant[:neighborhood] %></td>
  </tr>
  <tr>
      <td><%= @restaurant[:pricerange] %></td>
  </tr>
  <tr>
      <td><%= @restaurant[:capacity] %></td>
  </tr>
  <tr>
      <td><%= @restaurant[:category_id] %></td>
  </tr>
</table>

<%= link_to "Back", "/restaurants/" %>