<h1><%= @restaurant[:name] %></h1>

<table>
  <tr>
      <td><%= @restaurant[:address] %></td>
  </tr>
      <td><%= @restaurant[:neighborhood] %></td>
  </tr>
  <tr>
      <td><%= @restaurant[:pricerange] %></td>
  </tr>
  <tr>
      <td><%= @restaurant[:capacity] %></td>
  </tr>
  <tr>
      <td><%= @restaurant[:category_id] %></td>
  </tr>
</table>

<h3>Make a Reservation</h3>

<%= form_for @reservation do |r| %>

  <%= r.datetime_select :start_time, :ampm => true, discard_minute: true %><br>
  # of Guests: <%= r.select :people, (2..20) %><br>
  <%= r.hidden_field(:restaurant_id, value: @restaurant.id.to_s) %>
  <%= r.submit %>

<% end %>

<%= link_to "Back", "/restaurants/" %>
